.navbar-logo {
    max-height: 100%;
    max-width: 100%;
}
.nav-text {
    color: black !important;
}
    .nav-text.active-link {
        color: deepskyblue !important;
    }
    .nav-text:hover {
        /*color: #a5d6a7;*/ /* A slightly darker shade of green */
        color: black; /* A slightly darker shade of green */
    }

.site-section-hero {
    background-size: cover; /* Cover the full area */
    background-position: center center; /* Center the background image */
    align-items: center;
}


.site-section-hero:before {
    background: none;
}
@media (min-width: 768px) {
    .navbar-logo {
        max-height: 100px;
        max-width: 200px;
    }
}

/* Adjust for extra-large screens */
@media (min-width: 1200px) {
    .navbar-logo {
        max-height: 50%;
        max-width: 50%;
    }
}

/* Adjust for smaller screens */
@media (max-width: 767px) {
    .navbar-logo {
        max-height: 100px;
        max-width: 180px;
    }
}

@media (max-width: 767px) {
    .site-section-hero {
        background-size: contain; /* Cover the full area */
    }
}
